<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="ad.size" content="width={{settings.size.width}},height={{settings.size.height}}">

  <title>{{settings.size.width}}x{{settings.size.height}}</title>

  <link rel="stylesheet" href="{{content.css}}" type="text/css">

  <script type="text/javascript">
    var clickTag = "{{content.clickTag}}";
  </script>
</head>

<body>
<div class="banner border">
  <div class="content fullscreen">

  <img class="background_image" src="{{content.images.bg}}" alt="">

  <img class="copy_snack" src="{{content.images.copy_snack}}" alt="">

  <div class="bold_holder">
    <img class="copy_bold" src="{{content.images.copy_bold}}" alt="">
  </div>

  <div class="crispers_holder">
    <img class="copy_crispers" src="{{content.images.copy_crispers}}" alt="">
  </div>

<div class="cta_holder">
<svg version="1.1" id="cta" class="cta_element" overflow="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 334 92" style="enable-background:new 0 0 334 92;" xml:space="preserve">
<style type="text/css">
	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFE621;}
	.st1{clip-path:url(#cta_shape_00000047030554627407728940000004444165890329618311_);fill-rule:evenodd;clip-rule:evenodd;fill:#ffffff;}
</style>

<path id="cta_shape" class="st0" d="M326.1,4.3H7.9c-2.2,0-4,1.8-4,4v75.3c0,2.2,1.8,4,4,4h318.3c2.2,0,4-1.8,4-4V8.3
	C330.1,6.1,328.3,4.3,326.1,4.3z"/>

<g id="shine">
	<defs>
		<path id="cta_shape_mask" d="M326.1,4.3H7.9c-2.2,0-4,1.8-4,4v75.3
			c0,2.2,1.8,4,4,4h318.3c2.2,0,4-1.8,4-4V8.3C330.1,6.1,328.3,4.3,326.1,4.3z"/>
	</defs>
	<clipPath id="cta_shape_clipPath">
		<use xlink:href="#cta_shape_mask"  style="overflow:visible;"/>
	</clipPath>
	
		<polygon id='shineElement' style="clip-path:url(#cta_shape_mask);fill-rule:evenodd;clip-rule:evenodd;fill:#ffffff;" 
    points="-81.2,117.3 -196.6,117.3 -106.6,-26.3 8.8,-26.3"/>
</g>

<g id="cta_copy">
	<path d="M85.3,44.8c-0.2-0.1-0.2-0.2-0.2-0.3s0.1-0.2,0.2-0.3c3.2-1.7,4.6-5.1,4.6-8.5c0-5.3-2.5-10.3-9.9-10.3H67.5
		C64,25.4,64,27.7,64,30v31.8c0,2.3,0,4.6,3.5,4.6h12.9c3.8,0,6.2-0.1,9-5.3c1-1.9,1.6-4.1,1.6-6.4C90.9,50.8,89.4,46.2,85.3,44.8z
		 M76.7,33.3c2.3,0,2.9,1.9,2.9,3.9s-0.6,3.9-2.9,3.9c-2.9,0-2.9-1-2.9-3.9C73.8,34.3,73.8,33.3,76.7,33.3z M77,58.7
		c-3.2,0-3.2-1.7-3.2-5.2s0-5.1,3.2-5.1s3.2,2.5,3.2,5.1S79.9,58.7,77,58.7z M117,25.5h-2.9c-3.5,0-3.5,2.3-3.5,4.6v25.5
		c0,1.7,0,3.2-2.6,3.2c-3.2,0-3.2-1.4-3.2-3.2V30.1c0-2.3,0-4.6-3.5-4.6h-2.9c-3.5,0-3.5,2.3-3.5,4.6c0,0-0.1,6-0.1,24.3
		c0,7.5,0.9,12.4,13.1,12.4c11.6,0,12.4-4.9,12.4-12V30C120.4,27.8,120.4,25.5,117,25.5z M149.6,25.5h-5.1c-2.1,0-2.8,2.5-3.3,4.6
		c-0.5,1.9-2.2,8.4-2.3,8.9c-0.1,0.4-0.3,0.6-0.6,0.6c-0.2,0-0.5-0.2-0.6-0.6c-0.1-0.5-2-7-2.4-8.8c-0.5-2.1-1-4.6-2.9-4.6h-6.6
		c-0.4,0-1.7,0-1.7,1.5c0,1.6,3.4,10.4,4.6,13l0.2,0.4c1,2.4,4,9.7,4,12.8V62c0,2.3,0,4.6,3.5,4.6h2.9c3.5,0,3.5-2.1,3.5-4.4V57
		c0-5.1,0.2-5.7,2-10.2c1.2-3,2.2-5.7,2.7-6.8c1.2-2.5,4.5-11.4,4.5-13C152,25.5,151.3,25.5,149.6,25.5z M193.1,25.5h-2.9
		c-3.5,0-3.5,2.3-3.5,4.6v13.3c0,0.4-0.1,0.6-0.3,0.6s-0.3-0.2-0.5-0.6l-7.5-15.9c-0.9-1.8-1.5-2-3.4-2h-3c-3.5,0-3.5,2.3-3.5,4.6
		v31.8c0,2.3,0,4.6,3.5,4.6h2.9c3.5,0,3.5-2.3,3.5-4.6l-0.1-14.7c0-0.3,0.1-0.6,0.2-0.6c0.1,0,0.3,0.2,0.5,0.6l7.7,16.7
		c0.8,1.7,1.2,2.7,6.4,2.7c3.5,0,3.5-2.3,3.5-4.6V30.1C196.5,27.8,196.5,25.5,193.1,25.5z M213.8,25.2c-12.2,0-13.1,6.8-13.1,16.1
		c0,1.5,0,7.9,0,9.4c0,9.3,0.9,16.1,13.1,16.1c11.2,0,12.6-6.7,12.6-15.8c0-3.1-0.2-6.5-0.2-9.9C226.2,31.9,225.4,25.2,213.8,25.2z
		 M216.4,54.7c0,1.7,0,4-2.9,4s-2.9-2.3-2.9-4V36.5c0-1.4,0-3.2,2.9-3.2s2.9,1.7,2.9,3.2V54.7z M268.9,25.5h-6.8
		c-1.3,0-1.8,0.9-1.9,2.3L257.7,53c-0.1,0.2-0.1,0.3-0.3,0.3c-0.2,0-0.2-0.1-0.2-0.3c0,0-2.6-13.3-2.6-14.3c0-3.1,0.9-9.5,1-10.9
		c0-0.3,0.1-0.6,0.1-0.8c0-1.1-0.4-1.5-1.3-1.5c-0.5,0-4.4,0.1-5,0.1c-1.2,0-2.8-0.1-3.8-0.1s-1.4,0.5-1.4,1.5c0,0.2,0,0.5,0.1,0.8
		c0.1,1.3,1.2,7.7,1.7,10.8c0,0.9-1.8,14.1-1.8,14.4c-0.1,0.2-0.1,0.3-0.3,0.3s-0.2-0.1-0.2-0.3l-3.8-25c-0.2-1.6-0.5-2.5-2-2.5
		h-6.2c-1.3,0-1.4,0.3-1.4,1.5c0,1.7,4.6,29.1,5.8,34.9c0.6,2.9,1.1,4.6,4.4,4.6h3.2c2.1,0,3.4-0.1,4.5-4c0.8-2.8,2-7.7,2.4-7.7
		c0.7,0,1.7,4.3,2.5,7.7c0.9,4,1.9,4,4.1,4h4.2c2.9,0,3.2-1.9,3.8-4.6c1.2-5.8,5-33.3,5-35C270,25.9,269.8,25.5,268.9,25.5z"/>
</g>
</svg>
</div>
    

  </div>
  <div class="mainExit fullscreen"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
</body>
</html>
