@import url('../../shared/css/style.css');

.content > * {
  position:absolute;
}

.background_image{
  left:0;
  top:0;
  width:300px;
}

.copy_snack{
  left: 35px;
  top: 53px;
  width: 175px;
}

.bold_holder{
  left: 32px;
  top: 112px;
  transform-style: preserve-3d;
}

.copy_bold{
  width: 150px;
  transform: translateZ(32px);
}

.crispers_holder{
  left: 28px;
  top: 104px;
  transform-style: preserve-3d;
}

.copy_crispers{
  width: 248px;
  transform: translate3d(0px, 0px, 32px);
}

.cta_holder{
  left: 44px;
  top: 188px;
  transform-style: preserve-3d;
}

.cta_element{
  width: 167px;
  transform: translate3d(0px, 0px, 32px);
}